/* Small phones to small tablets: from 481 to 767px */
@media screen and (max-width: 767px){
  body { font-size: 16px !important; }
  
  .language-select-wrapper, .instructions, .input-output-wrapper { width: 80% !important; }
  
  .base-language { width: 90px !important; }

  .triangle-right { border-left: 20px solid #305f72 !important; }

  .square { width: 30px !important; }
  
  .chosen-language {
    font-size: 16px !important;
    width: 120px !important;
  }
}